<% title = 'Products' %> <% if (products.length === 0) { %>
<div class="alert alert-warning" role="alert">Mahsulotlar mavjud emas.</div>
<% } else { %>
<div class="row">
	<% products.forEach(function(product) { %>
	<div class="col-md-4">
		<div class="card mb-4 product-card">
			<img
				src="<%= product.imageUrl %>"
				class="card-img-top"
				alt="<%= product.name %>"
			/>
			<div class="card-body">
				<h5 class="card-title"><%= product.name %></h5>
				<p class="card-text">$<%= product.price %></p>
				<a href="/products/<%= product._id %>" class="btn btn-primary"
					>View Details</a
				>
			</div>
		</div>
	</div>
	<% }); %>
</div>
<% } %>
